<mat-card>
    <mat-card id="contactform">
        <mat-card-title>
            Schedule Your Consultation Today
        </mat-card-title>
                <mat-card-content>            
                    <mat-form-field class='homeform' appearance="fill"> 
                        <mat-label>First Name</mat-label>
                        <input class='input-form' matInput [(ngModel)]="contactform.first" required minlength="4">
                    </mat-form-field>
                    <mat-form-field class='homeform' appearance="fill"> 
                        <mat-label>Last Name</mat-label>
                        <input matInput [(ngModel)]="contactform.last" required minlength="4">
                    </mat-form-field>
                    <mat-form-field class='homeform' appearance="fill"> 
                        <mat-label>Phone</mat-label>
                        <input matInput [(ngModel)]="contactform.phone">
                    </mat-form-field>
                    <mat-form-field class='homeform' appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput  [(ngModel)]="contactform.email" required>
                    </mat-form-field>
                    <mat-form-field class='homeform' appearance="fill">
                        <mat-label>Comments</mat-label>
                        <textarea matInput  [(ngModel)]="contactform.message"></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="warn">Send</button>
                </mat-card-content>
    </mat-card>
    <div id='contactright'>
        <mat-card class='rightcards'>
            <mat-card-title>
                    Not Sure Yet?
            </mat-card-title>
            <mat-card-content> 
                <p>Would you like more information?</p>
                <a [routerLink]="['/services']">Check out our services page here</a>
            </mat-card-content>
        </mat-card>

        <mat-card class='rightcards'>
                <mat-card-title>
                        Current Client Support
                </mat-card-title>
                <mat-card-content> 
                    <p>Current Clients Can Contact Me Here</p>
                    <a [routerLink]="['services']">Contact Me</a>
                </mat-card-content>
        </mat-card>

    </div>
</mat-card>