<div id="border-wrapper">
    <div id="homepage-wrapper">
        <div id="a-wrapper">
        <div id="a-card-wrapper">
            <div class="a-wrapper-card" id="a-wrapper-lcard">
            <div id="a-lcard-text-wrapper">
                <p>Hello</p>
                <br>
                <br>
                <p>This is Where I Greet You</p>
                <br>
                <button class="home-contact-button" mat-raised-button>Contact Me</button>
            </div>
            </div>
            <div class="a-wrapper-card" id="a-wrapper-rcard">
            </div>
        </div>
        </div>
        <div id="b-wrapper">
        <div id="b-wrapper-card"></div>
        </div>
        <div id="c-wrapper">
            <mat-card class="c-wrapper-card" id="c-wrapper-lcard">
                <i class="fa-solid fa-lemon"></i>
                <p>some information here</p>
                <p>Here you can talk about services</p>
                <p>Here you can talk about services</p>
                <p>Here you can talk about services</p>
            </mat-card>
            <mat-card class="c-wrapper-card" id="c-wrapper-mcard">
                <i class="fa-solid fa-carrot"></i>
                <p>some information here</p>
                <p>Here you can talk about services</p>
                <p>Here you can talk about services</p>
                <p>Here you can talk about services</p>
            </mat-card>            <mat-card class="c-wrapper-card" id="c-wrapper-rcard">
                <i class="fa-solid fa-apple-whole"></i>
                <p>some information here</p>
                <p>Here you can talk about services</p>
                <p>Here you can talk about services</p>
                <p>Here you can talk about services</p>
            </mat-card>
        </div>
        <div id="d-wrapper">
        <div id="d-wrapper-shell">
            <mat-card class="d-wrapper-card" id="d-wrapper-lcard">
                <div id="d-message">
                    <div id="connect-text">
                        <p>Let's Connect!</p>
                    </div>
                    <br>
                    <p>I'd love to listen to your concerns and get to know you.</p>
                    <p><span>We will look at your 3-day food log, learn the foods you like and dislike, discuss your lifestyle,</span></p>
                    <p>and start working on a nutrition plan that suits your needs</p>     
                </div>       
            </mat-card>
            <mat-card class="d-wrapper-card" id="d-wrapper-rcard">
                <mat-card-title>Start Free Consultation</mat-card-title>
                        <mat-card-content>
                        <mat-form-field class='homeform' > 
                            <input matInput placeholder="First Name" >
                        </mat-form-field>
                        <br>
                        <mat-form-field class='homeform'>
                            <input matInput placeholder="Last Name">
                        </mat-form-field>
                        <br>
                        <mat-form-field class='homeform'> 
                            <input matInput placeholder="Email">
                        </mat-form-field>
                        <br>
                        <button class="home-contact-button" id='form-submit' mat-raised-button color="warn">Send</button>
                        </mat-card-content>
            </mat-card>
        </div>
        </div>
    </div>
  </div>